/* 5 box across grid*/
/*33.333% for height. 3 box up*/



.site-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.main-pic-frame {
  position: relative;
  flex: 2;
  overflow: visible;
}

.main-pic {
  position: absolute;
  right: 0%;
  z-index: -99;
}

.tile-box {
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
  flex: 3;
  overflow-y: scroll;

}

.tile {
  width: calc(100% / 3);
  height: calc(100% / 3);
  min-width: 33vh;
}

.big-tile {
  width: calc(200% / 3);
  min-width: 66vh;
}

.tile1 {
  background-color: green;
}

.tile2 {
  background-color: orange;
}

.tile3 {
  background-color: blue;
}

.tile4 {
  background-color: red;
}

.tile5 {
  background-color: green;
}

.tile6 {
  background-color: orange;
}

.tile7 {
  background-color: blue;
}

.tile8 {
  background-color: orange;
}


@media (max-width: 980px) {
  .main-pic {
    background-color: red;
  }
}

@media (max-width: 420px) {
  .site-container {
    flex-direction: column-reverse;
    overflow: visible;
  }

  .tile-box {
    overflow: visible;
    flex: 1;
  }

  .tile {
    height: 200px;
    width: 100%
  }

}
